<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>文章</title>
    <link rel="icon" href="blogyg-logo.png" type="image/x-icon"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body class="top-page">
<div id="app">
    <div style="margin-top: 0.5rem;font-size: 3rem;float: left;margin-left: 0.5rem;color: rgba(87,87,87,0.82)">文章</div>
    <br>
    <div class="tag-sty">
        <!--        <el-tag v-for="item in tags" style="margin-left: 0.5rem">{{ item.name }}</el-tag>-->
    </div>
    <div style="margin-top: 1%">
        <div class="car-content" v-for="item in tags" @click="clickContent()">
            <div style="font-size: 1.3rem;color: #2673bf">假装这是一个标题</div>
            <div style="font-size: 1rem;color: rgba(87,87,87,0.75);margin-top: 0.5rem">
                假装这是一段内容，来撑开布局的内容，究竟能变成什么样子，就听天命了
            </div>
            <div style="color: rgba(87,87,87,0.57);font-size: 0.9rem;margin-top: 0.5rem">
                前端 · 2020-06-29
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./js/data.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                tags: getTags()
            }
        },
        methods: {
            clickContent: function () {
                window.location.href = './content.html'
            }
        },
        created: function () {
            console.log(this.tags)
        }
    })
</script>
</html>